body{
  text-align: center;
  font-family:'Open Sans', sans-serif;
background-color: #FFD5C2;
}

h1{
  color: #FFCB6D;
  font-family: 'Kosugi Maru', sans-serif;
}

p{
  color: #FFBEBF;
  color: green;
  font-family: 'Ultra', serif;
}


ul{
  color: #E86A52;
}

a{
  text-decoration: none;
  color: #FFBEBF;
}


#nav {
  padding: 0;
}
#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #E86A52;
  background-color: #FFCB6D;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Ubuntu', sans-serif;

}

#nav a:hover,#nav a:active {
  background-color: #FFBEBF;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  justify-content:space-around;
}

#footer
{
  display: block;
  color: #E86A52;
  font-family: 'Kosugi Maru', sans-serif;
}
