body{
  text-align: center;
  font-family:'Open Sans', sans-serif;
background-color: #FFD5C2;
}

h1{
  color: Black;
  font-family: 'Kosugi Maru', sans-serif;
}

p{
  color: #FFBEBF;
  color: black;
  font-family: 'Ultra', serif;
}


ul{
  color: #E86A52;
}

a{
  text-decoration: none;
  color: #FFBEBF;
}


#nav {
  padding: 0;
}
#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #E86A52;
  background-color: #FFCB6D;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Ubuntu', sans-serif;

}

#nav a:hover,#nav a:active {
  background-color: #FFBEBF;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  justify-content:space-around;
}

#footer
{
  display: block;
  color: #E86A52;
  font-family: 'Kosugi Maru', sans-serif;
}

.cards {
  margin: 0 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  background-color: #E8D9E2;
  color: #58687F;
  grid-template-areas:
  "a b"
  "c d"
  "e f";

}

.cards li{
  background-color: #FFA9A3;
  border: 1px solid #EFC4FF;
  padding: 10px;
  border-radius: 5px;
}

.cards img {
  width: 100%;
}

.cardtext{
  max-width: 200px;
  text-align: center;
  justify-content: center;
}

.card1{
  grid-area: a;
}

.card2{
  grid-area: b;
}

.card3{
  grid-area: c;
}

.card4{
  grid-area: d;
}

.card5{
  grid-area: e;
}

.card6{
  grid-area: f;
}


@media screen and (min-width: 499px) {
  .cards{
    display: grid;
    grid-template-areas:
    "e"
    "a"
    "b"
    "c"
    "d"
    "f";
  }
}

@media screen and (min-width: 699px) {
  .cards{
  grid-template-areas:
  "e a b"
  "c d f";
  }
}
